
body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    max-width: 100%;
    box-sizing: border-box;
    background-color: #D8D8D8;
}
.cabecalho{
    background-color: #b9c5b7;
    width: 100%;
    height: 80px;
    display: flex;
    image-resolution: 60%;
    
}

.marca{
    width: 200px;
    height: 80px;
}


.corpo{
    width: 100%;
    height: 800px;
    max-width: 1920px;
    display: flex;
    box-sizing: inherit;
    
}

.pagina{
    background-color: #D8D8D8;
    width: 100%;
    max-width: 100%;
    box-sizing: inherit;
    
}

.produtos{
    width: 60%;
    max-width: 60%;
    height: 800px;
    overflow-x: none;
    box-sizing: inherit;
    display: flex;
    flex-wrap: wrap;

}

.total{
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.direita{
    width: 40%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.busca{
    width: 70%;
}

.card{
    width: 200px;
    height: 300px;
    border: solid 2px #0c0c0c;
    border-radius: 5px;
    margin: 15px;
    min-width: 200px;

}

.imagem img{
    width: 100%;
    height: 200px;
    max-width: 200px;
    max-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.info{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.nome{
    width: 135px;
    justify-content: center;
    align-items: center;
}

.preco{
    width: 65px;
    justify-content: center;
    align-items: center;
}


.button{
    background-color: #FF6100;
    width: 100%;
    height: 50px;
    border: none;
    padding: 0 20px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.button:active{
    background-color: #4b230a;
    border: none;
    padding: 0 20px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu ul {
    background-color: #a4a7a7;
}

.menu ul li {
    display: inline;
    position: relative;
}

.menu ul li a {
    color: black;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    transition: background .3s;
}

.menu ul li a:hover {
    background-color: #a4a7a7;
}

.menu ul ul {
    display: none;
    left: 0;
    position: absolute;
}

.menu ul li:hover ul {
    display: block;
}

.menu ul ul {
    width: 150px
}

.menu ul ul li a {
    display: block;
}

